@model List<Data.Entities.Advert>; 

<div class="container text-center">
    <div class="row">
         @foreach( var a in Model)
         {
        <div class="col">
            <div class="card" style="width: 18rem;">
               @* <img src="..." class="card-img-top" alt="...">*@
                <div class="card-body">
                    <h5> @a.Name</h5>
                    <p> @a.Description</p>
                    <h5>Price: @a.Price$</h5>
                    @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                </div>
            </div>
        </div>
        }
        
    </div>
</div>