<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">City</th>
      <th scope="col">Discription</th>
      <th scope="col">Contact information</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
       <tr>
      <th scope="row">1</th>
      <td>Buy MacBook 2019 </td>
      <td>Electronic</td>
      <td>Rivne</td>
      <td>New</td>
      <td>0977585689</td>
      <td>
          <div class="btn-group" role="group" aria-label="Basic mixed styles example">
  <button type="button" class="btn btn-success">Detail</button> 
  <button type="button" class="btn btn-danger ">Delete</button>
</div>
      </td>
    </tr>
  </tbody>
</table>